{% extends "layout.html" %}

{% block title %}
    State Statistics
{% endblock %}

{% set counts = data["counts"] %}
{% set yesterday = data["yesterday"] %}
{% set all_states = data["all_states"] %}

{% block heading %}
    Statistics By State - {{ yesterday }}
{% endblock %}

{% block main %}
    <form action="{{url_for('getstate')}}", method="post">
      <select name="stateselector">
        <option value="default" disabled>choose a state</option>
        <option value="all">ALL STATES</option>
        {% for option in all_states %}
          <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
      </select>
      <button class="btn btn-primary" type="submit">go</button>
    </form>
    <br><br>
    {% for state in counts %}
        <a href="{{state['link']}}" target="_blank">{{ state["state"] }}</a>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Cases</th>
              <th>Deaths</th>
              <th>Hospitalized</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{ state["cases"] }}</td>
              <td>{{ state["deaths"] }}</td>
              <td>{{ state["hospitalized"] }}</td>
            </tr>
          </tbody>
        </table>
    {% endfor %}
{% endblock %}
